/*$light-bg: #48c6ef;
$dark-bg: #6f86d6;
$shadow-color: #b6b6b6;*/
#content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70px; }

#side {
  width: 70px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: white;
  -moz-box-shadow: inset -1px 0px 3px #b6b6b6;
  -webkit-box-shadow: inset -1px 0px 3px #b6b6b6;
  box-shadow: inset -1px 0px 3px #b6b6b6; }
  #side .logo {
    width: 46px;
    height: 45px;
    margin: 12px; }

.page-top {
  background: linear-gradient(315deg, #6f86d6, #48c6ef);
  height: calc(100vh);
  margin: 0; }

#homecanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*padding-top: 92vh;*/ }
