
{{outlet}}
<div id="content">
  <div id="side">
  <svg class="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="437.967px" height="422.68px" viewBox="0 0 437.967 422.68" enable-background="new 0 0 437.967 422.68"
	 xml:space="preserve">
   <defs>
    <linearGradient id="gradient" gradientTransform="rotate(65)">
      <stop offset="45%" stop-color="#868686" />
      <stop offset="95%" stop-color="#313131" />
    </linearGradient>
  </defs>
		<path fill="url(#gradient)" d="M95.373,356.301c-6.56,3.195-13.051,6.06-20.293,7.296c-9.938,1.695-19.845,1.437-29.795,1.156
			c-13.668-0.385-25.099-5.955-34.951-15.196C2.678,342.373-0.004,333.325,0,323.148c0.021-69.164,0.017-138.328,0.018-207.492
			c0-14.588,3.082-27.903,15.135-37.681c7.268-5.896,15.846-8.994,24.793-10.285c7.809-1.127,15.73-2.225,23.828-0.857
			c10.359,1.75,19.836,5.719,29.166,10.145c2.952,1.402,5.063,1.916,6.868-1.207c3.817-6.604,9.64-7.629,16.829-7.373
			c15.147,0.535,30.326,0.154,45.492,0.15c6.582-0.002,6.584-0.002,6.584,6.394c0,77.33,0.056,154.66-0.035,231.99
			c-0.026,21.485,0.89,43-0.688,64.45c-0.902,12.27-4.544,23.988-11.479,34.215c-4.938,7.278-13.103,10.277-21.272,12.55
			c-13.337,3.709-26.973,4.65-40.802,4.501c-25.496-0.276-50.998-0.196-76.495,0.031c-4.524,0.039-5.574-1.275-5.444-5.625
			c0.33-11.157,0.221-22.331,0.053-33.495c-0.051-3.414,0.934-4.75,4.51-4.719c17.331,0.154,34.667-0.056,51.994,0.232
			c4.592,0.076,9.041-0.567,13.229-1.833C90.082,374.882,96.262,367.645,95.373,356.301 M95.779,217.96
			c0-31.133,0.016-62.266-0.011-93.398c-0.007-7.906-3.195-10.795-11.7-10.823c-7.541-0.026-11.118,3.286-11.121,10.603
			c-0.029,61.933-0.027,123.865-0.009,185.8c0.002,6.873,4.659,11.276,11.677,11.238c7.126-0.039,11.165-3.985,11.168-11.019
			C95.799,279.561,95.791,248.761,95.779,217.96 M278.643,352.773c-5.67,4.26-11.122,7.431-17.254,9.376c-10.156,3.223-20.593,2.763-31.022,2.844
			c-13.151,0.102-24.546-4.651-34.646-12.606c-8.6-6.773-13.454-15.859-13.467-26.903c-0.09-83.643-0.012-167.283-0.153-250.926
			c-0.008-4.727,1.104-6.177,6.005-6.108c20.49,0.282,40.987,0.21,61.479,0.024c3.991-0.035,5.367,0.828,5.358,5.164
			c-0.145,75.645-0.116,151.288-0.083,226.933c0.002,3.441-0.192,6.836,0.973,10.314c1.957,5.841,4.629,7.755,12.493,7.523
			c5.538-0.164,7.999-2.559,9.484-8.104c0.971-3.63,1.018-7.222,1.018-10.875c0.005-74.977,0.049-149.953-0.105-224.931
			c-0.01-4.731,1.067-6.134,5.965-6.063c20.49,0.293,40.987,0.205,61.479,0.037c3.838-0.031,5.118,0.889,5.113,4.991
			c-0.122,94.138-0.124,188.276,0.007,282.414c0.007,4.183-1.425,4.904-5.133,4.877c-20.158-0.151-40.319-0.071-60.48-0.079
			C278.948,360.672,278.948,360.661,278.643,352.773 M437.836,214.942c0,46.812-0.049,93.622,0.087,140.434c0.013,4.021-0.846,5.45-5.155,5.406
			c-21.154-0.218-42.313-0.168-63.469-0.032c-3.73,0.023-5.181-0.802-5.175-4.954c0.121-94.122,0.123-188.244-0.001-282.366
			c-0.006-4.237,1.576-4.961,5.251-4.938c20.99,0.125,41.981,0.166,62.969-0.014c4.246-0.035,5.63,0.955,5.612,5.532
			C437.761,120.987,437.836,167.965,437.836,214.942 M400.809,53.523c-10.493-0.002-20.988-0.112-31.479,0.06c-3.661,0.06-5.298-0.648-5.215-4.91
			c0.283-14.485,0.187-28.98,0.035-43.469c-0.04-3.811,1.035-5.233,5.127-5.194c20.817,0.198,41.64,0.211,62.458-0.008
			c4.794-0.05,6.329,1.35,6.216,6.249c-0.322,13.983-0.334,27.985,0.011,41.967c0.115,4.664-1.528,5.494-5.675,5.393
			C421.799,53.354,411.301,53.525,400.809,53.523"/>
</svg>
  <ul>
    <li>{{#link-to 'home'}}home{{/link-to}}</li>
    <li>{{#link-to 'about'}}about{{/link-to}}</li>
    <li>{{#link-to 'works'}}works{{/link-to}}</li>
    <li>{{#link-to 'contact'}}contact{{/link-to}}</li>
  </ul>
  </div>
  {{outlet}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
</div>
